.start-cinemadatenavigator_container {
    display: flex;
    flex-wrap: nowrap;
    gap: 1px;
    width: 100%;
    min-width: 390px;
    box-sizing: border-box;
    padding: 0px 0px 10px 0px;
}

.start-cinemadatenavigator_element {
    flex-grow: 1;
    border: none;
    box-sizing: border-box;
    font-size: 12px;
    height: 48px;
    border-radius: 2px;
    opacity: 0.9;
    background: rgba(241, 235, 230, 0.95);
    color: black;
    padding: 10px;
    margin: 0;
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.12);
}



