.main-body_bg {
    background-image: url("/img/index_bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: hsl(0, 0%, 19%);
    font-family: "Roboto", sans-serif;
    color: #fff;
    min-width: 390px;
    padding-bottom: 25px;
}

.main-content_container {
    max-width: 960px;
    min-width: 390px;
    margin: 0 auto;
    padding: 0;
}
