.hall-price__choose-hall-title {
    padding-bottom: 12px;
}
.hall-price__price-set-title {
    padding: 36px 0px 12px 5px;
    align-self: flex-start;
}
.hall-price__set-price_container {
    display: flex;
    gap: 8px;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    text-align: left;
    color: rgba(132, 132, 132, 1);
    align-items: center;
}
.hall-price__set-price-label-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    cursor: pointer;
    font-family: Roboto;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    text-align: left;
    color: rgba(132, 132, 132, 1);
    padding-bottom: 12px;
}
.hall-price__set-price_container input {
    width: 100px;
    height: 36px;
    padding: 8px 8.8px 9px 8.8px;
    border: 1px solid rgba(183, 183, 183, 1);
    box-sizing: border-box;
}

.HallPriceConf__buttons-container {
    display: flex;
    width: 100%;
    gap: 15px;
    justify-content: center;
}