
.admin-hall_container {
    display: flex;
    flex-direction: column;
    max-width: 960px;
    min-width: 360px;
    margin: 0 auto;
    padding: 0;
}

.admin-hall_title {
    font-family: "Roboto-Regular", Helvetica;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    position: relative;
    background-color: #63536c;
    height: 95px;
    box-sizing: border-box;
    padding: 35px 42px 35px 104px;
    text-align: left;
    font-size: 22px;
    font-weight: 700;
    line-height: 25px;
}

.admin-hall_title::before {
    content: "";
    position: absolute;
    width: 3px;
    height: 48px;
    top: 48px;
    left: 61px;
    background-color: #bc95d6;
}

.admin-hall_title::after {
    content: "";
    position: absolute;
    width: 44px;
    height: 44px;
    /* top: 26px; */
    left: 40px;
    background-color: #ffffff;
    border-radius: 50px;
    border: 4px solid;
    border-color: #bc95d6;
    box-sizing: border-box;
}

.admin-hall_title_close {
    position: absolute;
    width: 24px;
    height: 16px;
    right: 20px;
    background-image: url("img/down_arrow.png");
    background-size: cover;
    cursor: pointer;
}

.admin-hall_container_body {
    font-family: "Roboto", Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background: rgba(234, 233, 235, 0.95);
    padding: 35px 35px 35px 104px;
    text-align: center;
}

.admin-hall_container_body button {
    font-family: "Roboto-Medium", Helvetica;
    width: 159px;
    height: 40px;
    margin-right: -10px;
    color: #ffffff;
    border-radius: 3px;
    box-shadow: 0px 0px 3px #0000001f;
    background-color: #16a6af;
    width: fit-content;
    font-size: 14px;
    text-align: center;
    letter-spacing: 0;
    line-height: 16px;
    font-weight: 500;
    white-space: nowrap;
    padding: 11.2px 31.38px 11.9px 31.73px;
    border: none;
    cursor: pointer;
}

.admin-hall_container_body button:hover {
    box-shadow: 0px 3px 3px #0000003d;
}


.admin-hall_delete_button {
    position: relative;
    width: 20px;
    height: 20px;
    margin-right: -10px;
    border-radius: 3px;
    box-shadow: 0px 0px 3px #0000001f;
    background: url("img/basket.png");
    background-position: 4px 4px;
    background-size: 24px 12px;
    background-color: white;
    border-radius: 3px;
    background-repeat: no-repeat;
    cursor: pointer;
}

.admin-hall_delete_button:hover {
    box-shadow: 0px 3px 3px #0000003d;
}

