.admin-hall_container {
    display: flex;
    flex-direction: column;
    max-width: 960px;
    min-width: 360px;
    margin: 0 auto;
    padding: 0;
}

.admin-hall_title {
    font-family: "Roboto-Regular", Helvetica;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    position: relative;
    background-color: #63536c;
    height: 95px;
    box-sizing: border-box;
    padding: 35px 42px 35px 104px;
    text-align: left;
    font-size: 22px;
    font-weight: 700;
    line-height: 25px;
}

.admin-hall_title_linedecorator::before {
    content: "";
    position: absolute;
    width: 3px;
    height: 48px;
    top: 48px;
    left: 61px;
    background-color: #bc95d6;
}

.admin-hall_title_linedecorator_upper::before {
    content: "";
    position: absolute;
    width: 3px;
    height: 48px;
    top: 0px;
    left: 61px;
    background-color: #bc95d6;
}

.admin-hall_title_linedecorator_both::before {
    content: "";
    position: absolute;
    width: 3px;
    height: 100%;
    top: 0px;
    left: 61px;
    background-color: #bc95d6;
}

.admin-hall_title::after {
    content: "";
    position: absolute;
    width: 44px;
    height: 44px;
    /* top: 26px; */
    left: 40px;
    background-color: #ffffff;
    border-radius: 50px;
    border: 4px solid;
    border-color: #bc95d6;
    box-sizing: border-box;
}

.admin-hall_title_close {
    position: absolute;
    width: 24px;
    height: 16px;
    right: 20px;
    background-image: url("img/down_arrow.png");
    background-size: cover;
    cursor: pointer;
}

.admin-hall_container_body {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background: rgba(234, 233, 235, 0.95);
    padding: 35px 32px 36px 104px;
    text-align: center;
    position: relative;
}

.admin-hall_container_body_hidden {
    display: none;
}

.admin-hall_container_body_linedecorator:before {
    content: "";
    position: absolute;
    width: 3px;
    height: 100%;
    top: 0px;
    left: 61px;
    background-color: #bc95d6;
}


.admin-hall_container_body button:hover {
    box-shadow: 0px 3px 3px #0000003d;
}

.admin-yes-no__buttons-container {
    display: flex;
    justify-content: center;
    gap: 15px;
    align-self: stretch;
    padding-top: 26px;
}
