.standart-button {
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    text-align: center;
    background: rgba(22, 166, 175, 1);
    width: fit-content;
    height: 40px;
    padding: 11.2px 32px 11.9px 32px;
    border-radius: 3px;
    border: none;
    box-shadow: 1px 3px 3px 0px rgba(0, 0, 0, 0.12);
    color: rgba(255, 255, 255, 1);
    text-transform: uppercase;
    cursor: pointer;
    display: flex;
    align-items: center;
    transition: box-shadow 0.15s ease-in-out;
    box-sizing: border-box;
}
.standart-button:hover {
    box-shadow: 1px 3px 3px 0px rgba(0, 0, 0, 0.24);
}

.cancel-button {
    width: fit-content;
    height: 40px;
    padding: 11.2px 31.39px 11.9px 31.76px;
    border-radius: 3px;
    border: none;
    background: rgba(255, 255, 255, 1);
    box-shadow: 1px 3px 3px 0px rgba(0, 0, 0, 0.12);
    min-width: 121px;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    text-align: center;
    color: rgba(99, 83, 108, 1);
    text-transform: uppercase;
    cursor: pointer;
    transition: box-shadow 0.15s ease-in-out;
    box-sizing: border-box;
}
.cancel-button:hover {
    box-shadow: 1px 3px 3px 0px rgba(0, 0, 0, 0.24);
}
