.HallOpenClose__choose-hall-title {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    text-align: left;
    padding-bottom: 29px;
    color: black;
}

.HallOpenClose__ready-title {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    text-align: center;
    color: black;
    padding-top: 29px;
    padding-bottom: 29px;
    display: flex;
    align-self: stretch;
    justify-content: center;
}

.HallOpenClose__apply-button {
    align-self: center;
    
}