.admin-hallseats_list_container {
    display: flex;
}

.admin-hallseats_list_item {
    border: 1px solid;
}

.admin-hallseats_conf_main_container {
    width: 100%;
    border: 1px solid;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.admin-hallseats_conf_seats_container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.admin-hallseats_conf_seats_row {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.admin-hallseats_conf_aloneseat {
    width: 26px;
    height: 26px;
    border-radius: 4px;
    box-sizing: border-box;
}

.admin-hallseats_conf_aloneseat_standart {
    background: rgba(196, 196, 196, 1);
    border: 1px solid rgba(57, 57, 57, 1)
}

.admin-hallseats_conf_aloneseat_vip {
    background: rgba(196, 196, 196, 1);
    background: url("img/vip_seat.png");
    border: 1px solid rgba(10, 130, 138, 1)
}

.admin-hallseats_conf_aloneseat_disabled {
    background-color: transparent;
    border: 1px solid rgba(196, 196, 196, 1);
}